* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
::-webkit-scrollbar {
  display: none;
}

.right img {
  height: 100%;
  width: 100%;
}

.content1 {
  background: #0000007b;
}
.part2 {
  cursor: pointer;
}
.navpart2 h3:hover {
  color: #b17d1a;
}

.rightpart1 .A:hover {
  color: #ba9754;
  background: linear-gradient(to bottom, white, #ba9754);
}

.rightpart1 .B {
  background: linear-gradient(to bottom, #222, #ba9754);
}

.rightpart2 .A {
  background: linear-gradient(to bottom,#222, #ba9754);
}

.rightpart2 .B:hover {
  color: #ba9754;
  background: linear-gradient(to bottom, white, #ba9754);
}

.rightpart1 .B:hover {
  color: #ba9754;
  background: none;
}

.rightpart2 .A:hover {
  color: #ba9754;
  background: none;
}

.rightpart1 .A {
  background-color: #ba9754;
}

.rightpart2 .B {
  background-color: #ba9754;
}

.projects {
  background: linear-gradient(to top, black, #ac905ba5,black);
}

.lastnav {
  background: linear-gradient(to right, rgba(21, 21, 21, 0.717), #1e3a34);
}
.foot-panel-2 {
  height: 400px;
  margin-right: 5vw;
  background-color: #0000;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
}
ul {
  margin-top: 30px;
}
ul p {
  font-size: 1rem;
}
ul a {
  display: block;
  font-size: 0.85rem;
  margin-top: 15px;
  color: gold;
}
.hui{
  text-decoration: none;
}
.hui:hover{
  text-decoration: underline;
}

.foot-panel-3 {
  background-color: #000000;
  color: white;
  border-top: 0.5px solid #fff;
  height: 80px;
  display: flex;
  margin-right: 5vw;
  align-items: center;
  justify-content: center;
}


